@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Poppins:wght@400;500;700&display=swap");
body {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgba(197, 211, 240, 0.863);
}
/* Стандартные правила что бы убрать стрелочки в инпутах */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.main {
  max-width: 1200px;
  padding: 100px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


